<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Biblioteca</title>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<link rel="stylesheet" th:href="@{/css/materialize.css}">
</head>
<body>
	<header>
		<nav>
			<div class="nav-wrapper">
				<a href="#" class="brand-logo">Logo</a>
				<ul id="nav-mobile" class="right hide-on-med-and-down">
					<li><a th:href="@{/login}">Login</a></li>
					<li><a th:href="@{/livros/}">Livros</a></li>
					<li><a th:href="@{/editoras/}">Editoras</a></li>
				</ul>
			</div>
		</nav>
	</header>
	<main>
		<div class="section">
			<div class="row">
				<div class="col s12">
					<h3>Livros</h3>
				</div>
				<div class="col s12">
					<table class="striped highlight">
						<thead class="white-text" style="background: #ee6e73">
							<tr>
								<th>Capa</th>
								<th>Nome</th>
								<th>Ver mais</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="livro :${livros.content}">
								<td><img th:src="${livro.fotos[0].caminho}"/></td>
								<td th:text="${livro.nome}"></td>
								<td><a class="btn btn-waves" th:href="@{/livros/{id}(id=${livro.id})}">Ver mais</a></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</main>
	<footer> </footer>
	<script th:src="@{/js/materialize.min.js}"></script>
</body>
</html>