<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Biblioteca</title>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<link rel="stylesheet" href="../css/materialize.min.css">
<link rel="stylesheet" href="../css/dashboard.css">
</head>
<body>
	<header>
			<ul id="slide-out" class="sidenav red darken-3 sidenav-fixed ">
				<li>
					<div class="user-view justify-content-center d-flex">
						<a href="#user"><img class="circle" src="images/yuna.jpg"></a>
					</div>
				</li>
				<li ><a class="white-text" href="/dashboard/">Dashboard</a></li>
				<li><div class="divider"></div></li>
				<li><a class="white-text" href="/dashboard/usuarios">Usuarios</a></li>
				<li><a class="white-text" href="/dashboard/livros">Livros</a></li>
				<li><a class="white-text" href="/dashboard/editoras">Editoras</a></li>
				<li><a class="white-text" href="/dashboard/generos">Gêneros</a></li>
				<li><a class="white-text" href="/dashboard/compras">Compras</a></li>
				<li><a class="white-text" href="/dashboard/registros">Alugados</a></li>
			</ul>
		<a href="#" data-target="slide-out" class="sidenav-trigger hide-on-large-only btn"><i
			class="material-icons">menu</i></a>
	</header>
	<main>
		<div class="col s12 m8 l9">
			<div class="col s12">
				<p>s12</p>
			</div>
			<div class="col s12 m4 l2">
				<p>s12 m4</p>
			</div>
			<div class="col s12 m4 l8">
				<p>s12 m4</p>
			</div>
			<div class="col s12 m4 l2">
				<p>s12 m4</p>
			</div>
		</div>
	</main>
	<footer> </footer>
	<script>
		document.addEventListener('DOMContentLoaded', function() {
			var elems = document.querySelectorAll('.sidenav');
			var instance = M.Sidenav.init(elems);
		});
		document.querySelector('.sidenav-trigger').addEventListener(
				'click', function() {
					
					var elems = document.querySelector('#slide-out');
					var instance = M.Sidenav.getInstance(elems);
					console.log(instance.isOpen == true);
					if (instance.isOpen == true) {
						instance.close();
					} else {
						instance.open();
					}
				});
	</script>
	<script src="../js/materialize.min.js"></script>
</body>
</html>