<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title> Genero | novo</title>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<link rel="stylesheet" th:href="@{/css/materialize.min.css}">
<link rel="stylesheet" th:href="@{/css/dashboard.css}">
</head>
<body>
	<header>
			<ul id="slide-out" class="sidenav sidenav-fixed red darken-3">
				<li>
					<div class="user-view justify-content-center d-flex">
						<a href="#user"><img class="circle" src="images/yuna.jpg"></a>
					</div>
				</li>
				<li ><a class="white-text" href="/dashboard/">Dashboard</a></li>
				<li><div class="divider"></div></li>
				<li><a class="white-text" href="/dashboard/usuarios">Usuarios</a></li>
				<li><a class="white-text" href="/dashboard/livros">Livros</a></li>
				<li><a class="white-text" href="/dashboard/editoras">Editoras</a></li>
				<li><a class="white-text" href="/dashboard/generos">Gêneros</a></li>
				<li><a class="white-text" href="/dashboard/compras">Compras</a></li>
				<li><a class="white-text" href="/dashboard/registros">Alugados</a></li>
			</ul>
		<a href="#" data-target="slide-out" class="sidenav-trigger hide-on-large-only btn"><i
			class="material-icons">menu</i></a>
	</header>
	<main>
		<div class="col s12 m8 l7">
			<div class="col s12 m8 l7">
				<h3>Editar Editora</h3>
			</div>
			<div class="col s12 m8 l7">
				<form th:action="@{/dashboard/editoras/edit}" method="POST" th:object=${editora}>
					<div class="form-group">
						<input type="hidden" name="id" th:field=*{id}>
						<label for="nome">Nome:</label>
						<input type="text" name="nome" id="nome" th:field=*{nome}>
						<label for="email">Email:</label>
						<input type="text" name="email" id="email" th:field=*{email}>
					</div>
					<button class="btn">Salvar</button>
				</form>
			</div>
		</div>
	</main>
	<footer> </footer>
	<script>
		document.addEventListener('DOMContentLoaded', function() {
			var elems = document.querySelectorAll('.sidenav');
			var instance = M.Sidenav.init(elems);
			document.querySelectorAll('#cpf').forEach(e => {e.innerHTML = cpf_mask(e.innerHTML)});
		});
		document.querySelector('.sidenav-trigger').addEventListener(
				'click', function() {
					
					var elems = document.querySelector('#slide-out');
					var instance = M.Sidenav.getInstance(elems);
					console.log(instance.isOpen == true);
					if (instance.isOpen == true) {
						instance.close();
					} else {
						instance.open();
					}
				});
	</script>
	<script th:src="@{/js/materialize.min.js}"></script>
</body>
</html>