<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Dahsboard</title>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<link rel="stylesheet" th:href="@{/css/materialize.css}">
<link rel="stylesheet" th:href="@{/css/dashboard.css}">
</head>
<body>
	<header>
			<ul id="slide-out" class="sidenav sidenav-fixed red darken-3">
				<li>
					<div class="user-view justify-content-center d-flex">
						<a href="#user"><img class="circle" src="images/yuna.jpg"></a>
					</div>
				</li>
				<li ><a class="white-text" href="/dashboard/">Dashboard</a></li>
				<li><div class="divider"></div></li>
				<li><a class="white-text" href="/dashboard/usuarios">Usuarios</a></li>
				<li><a class="white-text" href="/dashboard/livros">Livros</a></li>
				<li><a class="white-text" href="/dashboard/editoras">Editoras</a></li>
				<li><a class="white-text" href="/dashboard/generos">Gêneros</a></li>
				<li><a class="white-text" href="/dashboard/compras">Compras</a></li>
				<li><a class="white-text" href="/dashboard/registros">Alugados</a></li>
			</ul>
		<a href="#" data-target="slide-out" class="sidenav-trigger hide-on-large-only btn"><i
			class="material-icons">menu</i></a>
	</header>
	<main>
		<div class="section">
			<div class="row">
				<div class="col s12">
					<h4 th:text="${'Editora: ' + editora.nome}"></h4>
				</div>
				<div class="col s12">
					<h4 th:text="${'Email: ' + editora.email}"></h4>
				</div>
			</div>
			<div class="row">
				<div class="col s12">
					<h5>Endereços</h5>
					<a class="btn btn-waves green"
						th:href="@{/dashboard/logradouro/novo/editora/{id}(id=${editora.id})}">Novo</a>
					<table>
						<thead>
							<tr>
								<th>Rua</th>
								<th>Numero</th>
								<th>Bairro</th>
								<th>Cidade</th>
								<th>Estado</th>
								<th>Editar</th>
								<th>Deletar</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="logradouro: ${editora.logradouro}">
								<td th:text="${logradouro.rua}"></td>
								<td th:text="${logradouro.numero}"></td>
								<td th:text="${logradouro.bairro}"></td>
								<td th:text="${logradouro.cidade}"></td>
								<td th:text="${logradouro.uf}"></td>
								<td><a class="btn btn-waves green" th:href="@{/dashboard/logradouro/editar/{id}(id=${logradouro.id})}">Editar</a></td>
								<td th:if="${editora.logradouro.size() != 1}"><a
									class="btn btn-waves red" th:href="@{/dashboard/logradouro/delete/{editoras}/{id}(id=${logradouro.id},editoras=${editora.id})}">Deletar</a></td>
								<td th:else>minimo um logradouro</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="row">
				<div class="col s12">
					<h5>Telefones</h5>
					<form method="POST" th:action="@{/dashboard/telefone/novo/editora/{id}(id=${editora.id})}">
						<div class="form-group col s6">
							<label for="numero">Número</label>
							<input class="col s12" name="numero" id="numero">
						</div>
						<div class="form-group col s12">
							<button type="submit" class="btn">Salvar</button>
						</div>
					</form>
					<table>
						<thead>
							<tr>
								<th>Numero</th>
								<th>Editar</th>
								<th>Deletar</th>
							</tr>
						</thead>
						<tbody>
							<tr th:if="${editora.telefones} != null" th:each="telefones:${editora.telefones}">
								<td th:text="${telefones.numero}"></td>
								<td><a  class="btn btn-waves green" th:href="@{/dashboard/telefone/editar/{id}(id=${telefones.id})}">Editar</a></td>
								<td><a th:href="@{/dashboard/telefone/deletar/{editora}/{id}(id=${telefones.id},editora=${editora.id})}" class="btn btn-waves red">Deletar</a></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</main>
	<footer> </footer>
	<script th:src="@{/js/materialize.min.js}"></script>
</body>
</html>